.key {
    &__info {
        width: 55%;
        @include breakpoint($bp-900) {
            width: 100%;
        }
    }
    &__img {
        width: 45%;
        position: relative;
        @include breakpoint($bp-900) {
            display: none;
        }
    }
    &__block {
        display: flex;
        margin-bottom: 135px;
        @include breakpoint($bp-900) {
            max-width: 500px;
            margin: 0 auto 50px;
        }
    }
    &__title {
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
        margin-bottom: 45px;
    }
    &__info-title {
        font-size: 40px;
        line-height: 48px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    &__info-subtitle {
        color: #8AC600;
        font-weight: 300;
        font-size: 35px;
        line-height: 48px;
        text-transform: uppercase;
    }
    &__info-description {
        font-size: 14px;
        line-height: 14px;
        max-width: 140px;
        margin-bottom: 45px;
    }
    &__info-description-2 {
        font-weight: 300;
        font-size: 18px;
        line-height: 120%;
    }
    &__info-description-4 {
        font-weight: 300;
        font-size: 18px;
        line-height: 120%;
        max-width: 400px;
    }
    &__number {
        margin-bottom: 100px;
        @include breakpoint($bp-425) {
            margin-bottom: 40px;
        }
    }
    &__number-2 {
        margin-bottom: 35px;
    }
    &__number-item {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    &__number-item-2 {
        display: flex;
        align-items: center;
        margin: 15px 0;
    }
    &__number-item-3 {
        display: flex;
        align-items: flex-start;
        margin: 15px 0;
    }
    &__number-info {
        max-width: 200px;
        margin-left: 10px;
    }
    &__number-info-2 {
        max-width: 330px;
        margin-left: 10px;
        font-size: 12px;
    }
    &__number-description {
        font-size: 14px;
        color:#FF971A;
        font-weight: 300;
        text-align: right;
        max-width: 433px;
        @include breakpoint($bp-425) {
            max-width: 285px;
            text-align: left;
            margin-left: auto;
        }
        @include breakpoint($bp-425) {
            max-width: 235px;
        }
        @include breakpoint($bp-320) {
            max-width: 180px;
        }
    }
    &__btn {
        width: 340px;
        height: 50px;
        border-radius: 50px;
        border: none;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        color: #fff;
        font-family: 'Muller';
        @include breakpoint($bp-375) {
            width: 280px;
            margin: 0 auto;
            display: block;
        }
        &_green {
            background-color:    #8AC600;
        }
        &_orange {
            background-color:    #FF9719;
        }
        &_blue {
            background-color:    
            #1794AF;
        }
        &_orange-2 {
            background-color:    
            #CC3C00;
        }
    }
}
.bold {
    font-weight: bold;
}
.key-img-1 {
    position: absolute;
    top: -280px;
    right: -213px;
}
.key-img-2 {
    position: absolute;
    top: -80px;
    right: -125px;
}
.key__info-block-title {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    @include breakpoint($bp-900) {
        flex-direction: column;
        align-items: flex-start;
    }
}
.key__info-subtitle-2 {
    margin-left: 75px;
    font-size: 14px;
    line-height: 14px;
    @include breakpoint($bp-900) {
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }
}
.margin-0 {
    margin: 0;
}
.key__orange {
    color: #FF971A;
    text-decoration: none;
    font-weight: bold;
}
.key__info-block-subtitle {
    display: flex;
    margin-bottom: 44px;
    @include breakpoint($bp-425) {
        flex-direction: column;
    }
}
.key__info-block-subtitle-2 {
    text-transform: uppercase;
    font-size: 48px;
    line-height: 48px;
    color: #FF971A;
    font-weight: 200;
}
.key__info-block-subtitle-3 {
    margin-left: 15px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 200;
    max-width: 262px;
    @include breakpoint($bp-425) {
        margin-left: 0;
    }
}
.key__number-img-2 {
    max-width: 101px;
}
.key__info-info {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.key__info-info-block {
    margin-right: 50px;
}
.key__info-info-number {
    font-weight: 250;
    font-size: 48px;
    line-height: 48px;
    color: #1794AF;
    @include breakpoint($bp-320) {
        font-size: 40px;
    }
}
.key__info-info-p {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.key__number-img-3 {
    margin-top: 10px;
}
.blue {
    color: #1794AF;
    font-size: 18px;
    line-height: 30px;
}
.key__number-info-3 {
    max-width: 160px;
    font-weight: 300;
    font-size: 11px;
    line-height: 124%;
    margin-left: 20px;
    @include breakpoint($bp-425) {
        font-size: 15px;
        line-height: 20px;
        max-width: 250px;
    }
}
.key__number-3 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    margin-bottom: 45px;
}
.logo {
    position: relative;
    &::after {
        display: block;
        content: '';
        background: url(../images/key-logo.png);
        width: 119px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 110%;
        @include breakpoint($bp-320) {
            left: 105%;
        }
    }
}
.key-img-3 {
    position: absolute;
    top: -100px;
    right: -150px;
}
.key-img-4 {
    position: absolute;
    top: -170px;
    right: -40px;
}
.logo-2 {
    position: relative;
    &::after {
        display: block;
        content: '';
        background: url(../images/key-logo-2.png);
        width: 135px;
        height: 41px;
        position: absolute;
        top: 0;
        left: 110%;
        @include breakpoint($bp-650) {
            top: 50px;
            left: 0;
        }
        @include breakpoint($bp-320) {
            top: 50px;
            left: 110%;
        }
    }
}
.key__img-b-4 {
    margin-top: 40px;
}
.key__info-subtitle-4 {
    font-weight: 250;
    font-size: 24px;
    line-height: 110.5%;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #E0F300;
    margin-top: 10px;
}
.key__number-item-4 {
    display: flex;
    align-items: center;
    width: 140px;
}
.key__number-info-4 {
    font-weight: 300;
    font-size: 16px;
    line-height: 127%;
    color: #FFFFFF;
    margin-left: 20px;
}
.key__number-4 {
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
    margin-top: 30px;
}
.key__info-subtitle-5 {
    font-weight: 300;
    font-size: 14px;
    line-height: 127%;
    color: #FFFFFF;
    margin-top: 40px;
    max-width: 400px;
    margin-bottom: 40px;
}
.key__img_mobile {
    display: none;
    @include breakpoint($bp-900) {
        display: block;
    }
    @include breakpoint($bp-425) {
        display: none;
    }
    img {
        width: 100%;
    }
}
.key__img_mobile-1 {
    margin-top: -100px;
}
.key__img_mobile-425 {
    display: none; 
    @include breakpoint($bp-425) {
        display: block;
        position: relative;
    }
}
.key__img_425-1 {
    position: relative;
    top: -40px;
    right: -20px;
    @include breakpoint($bp-320) {
        right: 20px;
    }
}
.key__img_425-2 {
    position: relative;
    @include breakpoint($bp-320) {
        right: 40px;
    }
}
.key__img_425-3 {
    position: relative;
    left: -20px;
    top: 30px;
}
.key__img_425-4 {
    position: relative;
    left: -20px;
}