.second-screen {
    &-blocks {
        margin-top: 51px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        height: auto;
        position: relative;
        z-index: 1;
        row-gap: 30px;
    }
    &-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 20px 22px 21px;
        background: #000;
        position: absolute;
        cursor: pointer;
        height: 350px;
        &__img {
            margin: 0 auto;
        }
        &__title {
            font-size: 22px;
            line-height: 24px;
            color: #fff;
            font-weight: 500;
        }
        &__li {
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            list-style: none;
            margin-bottom: 10px;
        }
    }
}
.block-1-text {
    opacity: 0;
    display: none;
}
.block-2-text {
    opacity: 0;
    display: none;
}
.block-3-text {
    opacity: 0;
    display: none;
}
.block-4-text {
    opacity: 0;
    display: none;
}
.block-5-text {
    opacity: 0;
    display: none;
}
#block-6-text {
    opacity: 0;
}
#block-1 {
    top: 0;
}
#block-2 {
    top: 0;
}
#block-3 {
    top: 0;
}
#block-4 {
    bottom: 0;
}
#block-5 {
    bottom: 0;
}
#block-6 {
    bottom: 0;
}
.brands {
    img {
        max-width: 100%;
    }
}