<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="header-logo">
                <a href="/"><img src="assets/images/logo.svg" alt=""></a>
            </div>
            <div class="header-menu">
                <nav class="header-nav">
                    <ul class="header-ul">
                        <a href="" id="products-click"><li class="header__link">наши продукты</li></a>
                        <a href="" id="stage-click"><li class="header__link">этапы разработки</li></a>
                        <a href="" id="key-click"><li class="header__link">наши кейсы</li></a>
                        <a href="" id="also-click"><li class="header__link">также умеем</li></a>
                        <a href="" id="about-click"><li class="header__link">о нас</li></a>
                    </ul>
                </nav>
            </div>
            <div class="header-mail">
                <a href="mailto:more@heroinmarketing.com">more@heroinmarketing.com</a>
            </div>
            <div class="menu-burger__header">
                <span></span>
            </div>
        </div>
        <div class="header-content__mobile">
            <img src="assets/images/logo.svg" alt="" class="header-mobile__logo">
            <ul class="header-ul__mobile">
                <a href="" id="products-click-mobile"><li class="header__link_mobile">наши продукты</li></a>
                <a href="" id="stage-click-mobile"><li class="header__link_mobile">этапы разработки</li></a>
                <a href="" id="key-click-mobile"><li class="header__link_mobile">наши кейсы</li></a>
                <a href="" id="also-click-mobile"><li class="header__link_mobile">также умеем</li></a>
                <a href="" id="about-click-mobile"><li class="header__link_mobile">о нас</li></a>
            </ul>
            <a href="mailto:more@heroinmarketing.com" class="header-mobile_email">more@heroinmarketing.com</a>
        </div>
    </div>
</header>
