<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="header-logo">
                <a href="/"><img src="assets/images/logo.svg" alt=""></a>
            </div>
            <div class="header-menu">
                <nav class="header-nav">
                    <ul class="header-ul">
                        <a href=""><li class="header__link">преимущества</li></a>
                        <a href=""><li class="header__link">опыт и кейсы</li></a>
                        <a href=""><li class="header__link">возможности таргета</li></a>
                        <a href=""><li class="header__link">о нас</li></a>
                    </ul>
                </nav>
            </div>
            <div class="header-mail">
                <a href="mailto:more@heroinmarketing.com">more@heroinmarketing.com</a>
            </div>
        </div>
    </div>
</header>
